@import "../../../../assets/css/header";
@import "../../../../assets/css/group";
@import "../../../../assets/css/sorting";
@import "../../../../assets/css/large-goods";

.write {
  position: fixed;
  left: 24px;
  right: 24px;
  bottom: 48px;
  z-index: 30;
  width: 36px;
  height: 36px;
  margin: auto;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #ef5259;
}

.write path {
  fill: #fff;
}

section.main {
  padding-bottom: 0;
}

.copyright {
  margin-top: 16px;
  padding: 40px 0 24px;
  border-top: 1px solid #e5e5e5;
  background-color: #f3f3f3;
  font-size: 11px;
  line-height: 16px;
  color: #999;
  text-align: center;
}
