<div class="wrap sub end">
  <header>
    <h2>상품 설명</h2>
    <a [routerLink]="['/home', goodsBy.toLowerCase()]" class="back">{{ group }}</a>

    <div class="sub_utility">
      <span class="goods_modify">수정</span>
      <select>
        <option>수정</option>
        <option>삭제</option>
        <option>판매완료</option>
      </select>
      <!-- <a href="#" class="goods_share">공유</a> -->
    </div>
  </header>
  <!--<header>-->
    <!--<h2>상품 설명</h2>-->
    <!--<a href="index.html" class="back">2nd Lounge</a>-->

    <!--<div class="sub_utility">-->
      <!--<span class="goods_modify">수정</span>-->
      <!--<select>-->
        <!--<option>수정</option>-->
        <!--<option>삭제</option>-->
        <!--<option>판매완료</option>-->
      <!--</select>-->
      <!--&lt;!&ndash; <a href="#" class="goods_share">공유</a> &ndash;&gt;-->
    <!--</div>-->
  <!--</header>-->
</div>
