<div class="wrap sub end">
  <header>
    <h2>상품 설명</h2>
    <!--<a [routerLink]="[this.list === 'lounge' ? '/' + this.list : '/' ]" class="back">홈</a>-->
    <a href="#" (click)="goBack($event)" class="back">돌아가기</a>
    <div *ngIf="authority" class="sub_utility">
      <span class="goods_modify">수정</span>
      <select (change)="onMenuChange($event.target.value)">
        <option disabled selected value>[선택]</option>
        <option value="edit">수정</option>
        <option value="delete">삭제</option>
        <option *ngIf="!goods.soldout" value="soldout">판매완료</option>
        <option *ngIf="goods.soldout" value="onsale">판매중</option>
      </select>
      <!--<a href="#" class="goods_share">공유</a>-->
    </div>
  </header>
  <div class="single-item">
    <img [src]="goods.images[0]" width="100%" alt="" style="vertical-align:top;">
  </div>
  <section class="goods_section">
    <h3>
      <button
        (click)="onClickInterest()"
        [ngClass]="{ 'likeit': true, 'on': interested }" style="border:0"><span class="sr-only">관심</span></button>
      {{ goods.title }}
    </h3>
    <span *ngIf="goods.soldout" class="soldout type1"></span>
    <div class="goods_info_area margin1">
      <dl class="goods_price">
        <dt>판매가</dt>
        <dd><strong>{{ goods.price | number:'2.' }}</strong>원</dd>
      </dl>
      <dl class="goods_info">
        <dt>사용기간</dt>
        <dd>{{ goods.purchase }}</dd>
      </dl>
      <dl class="goods_info">
        <dt>사용상태</dt>
        <dd>{{ goods.condition }}</dd>
      </dl>
    </div>
    <div class="goods_detail">
      <p [innerHTML]="goods.desc" style="white-space: pre-wrap"></p>
    </div>
    <div *ngIf="goods.images.length > 1">
      <button *ngIf="!moreImages" type="button" (click)="onClickMoreImages()">이미지 더보기</button>
      <ng-container *ngIf="moreImages">
        <div *ngFor="let image of goods.images.slice(1)">
          <img [src]="image" width="100%" alt="" style="vertical-align:top;">
        </div>
      </ng-container>
    </div>
    <div class="author_info margin3">
      <span class="author_thumb" [style.backgroundImage]="'url(' + goods.user.photoURL + ')'"></span>
      <p><strong>{{ goods.user.displayName }}</strong>님이 판매중입니다.</p>
      <div class="author_introduce">{{ goods.user.desc }}</div>
    </div>
  </section>
  <div class="other_goods">
    <h4><strong>{{ goods.user.displayName }}</strong>님의 다른 상품</h4>
    <ul class="other_goods_list">
      <li *ngFor="let goods of otherGoods$ | async">
        <div class="other_goods_item">
          <a [routerLink]="['/', list, 'goods', goods.id]" (click)="onClickOtherGoods(goods)">
            <div class="other_goods_thumb" [style.backgroundImage]="'url(' + goods.images[0] +')'"></div>
          </a>
          <!--<span class="soldout type1"></span>-->
          <!--<span class="soldout type2"></span>-->
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="(comments$ | async) as comments" class="comment">
    <div class="comment_header">
      <ng-container *ngIf="comments.length > 0; then commentsTmpl else noCommentsTmpl"></ng-container>
      <ng-template #commentsTmpl><h4>댓글 <strong>{{ comments.length }}</strong>개</h4></ng-template>
      <ng-template #noCommentsTmpl><h4>첫 댓글을 입력해 보세요!</h4></ng-template>
    </div>
    <ul class="comment_list">
      <li *ngFor="let comment of comments">
        <div class="comment_item">
          <span class="comment_thumb" [style.backgroundImage]="'url(' + comment.user.photoURL + ')'"></span>
          <div class="comment_content">
            <strong>{{ comment.user.displayName }}</strong><br>
            <p>{{ comment.body }}</p>
          </div>
          <div class="comment_function">
            <ng-container *ngIf="commentAuthority(comment)">
              <button type="button" (click)="onClickDeleteComment(comment)" style="border:0">삭제</button>  &middot;
            </ng-container>
            <span class="created">{{ comment.created | fsTimestamp | moment }}</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="comment_form">
      <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
        <textarea name="body" formControlName="body"
                  maxlength="500" class="textarea"></textarea>
        <button type="submit"
                [disabled]="commentForm.invalid"
                [ngClass]="{ button: true, disabled: commentForm.invalid }">입력</button>
      </form>
    </div>
  </div>
</div>
