<div class="wrap sub end">
  <header>
    <h2>상품 설명</h2>
    <a [routerLink]="['/']" [queryParams]="{ market: market.toLowerCase()}" class="back">{{ group }}</a>

    <div class="sub_utility">
      <span class="goods_modify">수정</span>
      <select>
        <option>수정</option>
        <option>삭제</option>
        <option>판매완료</option>
      </select>
      <!-- <a href="#" class="goods_share">공유</a> -->
    </div>
  </header>
  <div class="single-item">
    <div *ngFor="let image of goods.images">
      <img [src]="imageURL + '/w_800,c_limit/' + image" width="100%" alt="" style="vertical-align:top;">
    </div>
  </div>
  <section class="goods_section">
    <h3>
      <a href="#" class="likeit"><span class="sr-only">좋아요</span></a>
      {{ goods.title }}
    </h3>
    <span *ngIf="goods.soldout" class="soldout type1"></span>
    <div class="goods_info_area margin1">
      <dl class="goods_price">
        <dt>판매가</dt>
        <dd><strong>{{ goods.price }}</strong>원</dd>
      </dl>
      <dl class="goods_info">
        <dt>사용기간</dt>
        <dd>{{ goods.purchase }}</dd>
      </dl>
      <dl class="goods_info">
        <dt>사용상태</dt>
        <dd>{{ goods.condition }}</dd>
      </dl>
      <dl class="goods_info2">
        <dt>기부금</dt>
        <dd>{{ goods.donation }}</dd>
      </dl>
    </div>
    <div class="goods_detail">
      <p>{{ goods.desc }}</p>
    </div>
    <div class="author_info margin3">
      <span class="author_thumb" style="background-image:url(assets/img/author2.png);"></span>
      <p><strong>{{ (user$ | async)?.displayName }}</strong>님이 판매중입니다.</p>
      <div class="author_introduce">미래에셋플레이스 8층 / UX디자인실</div>
    </div>
  </section>
  <div class="other_goods">
    <h4><strong>{{ (user$ | async)?.displayName }}</strong>님의 다른 상품</h4>
    <ul class="other_goods_list">
      <li>
        <div class="other_goods_item">
          <a href="view.html">
            <div class="other_goods_thumb" style="background-image:url(assets/img/thumb.png);"></div>
          </a>
          <span class="soldout type1"></span>
        </div>
      </li>
      <li>
        <div class="other_goods_item">
          <a href="view.html">
            <div class="other_goods_thumb" style="background-image:url(assets/img/thumb.png);"></div>
          </a>
          <span class="soldout type2"></span>
        </div>
      </li>
      <li>
        <div class="other_goods_item">
          <a href="view.html">
            <div class="other_goods_thumb" style="background-image:url(assets/img/dark.png),url(assets/img/thumb.png);"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="other_goods_item">
          <a href="view.html">
            <div class="other_goods_thumb" style="background-image:url(assets/img/thumb.png);"></div>
          </a>
        </div>
      </li>
      <li>
        <div class="other_goods_item">
          <a href="view.html">
            <div class="other_goods_thumb" style="background-image:url(assets/img/thumb.png);"></div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="comment">
    <div class="comment_header">
      <h4>댓글 <strong>5</strong>개</h4>
    </div>
    <ul class="comment_list">
      <li>
        <div class="comment_item">
          <span class="comment_thumb" style="background-image:url(assets/img/author.png);"></span>
          <div class="comment_content">
            <strong>8층에 사는 유경진</strong><br>
            <p>저 사고 싶어요. 기다리던 제품이에요!!</p>
          </div>
          <div class="comment_function">
            <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
          </div>
        </div>
        <ul class="comment_list">
          <li>
            <div class="comment_item">
              <span class="comment_thumb" style="background-image:url(assets/img/author2.png);"></span>
              <div class="comment_content">
                <strong>안성준</strong>
                <p>안팔아요.</p>
              </div>
              <div class="comment_function">
                <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
              </div>
            </div>
          </li>
          <li>
            <div class="comment_item">
              <span class="comment_thumb" style="background-image:url(assets/img/author.png);"></span>
              <div class="comment_content">
                <strong>8층에 사는 유경진</strong>
                <p>제발요~ 제가 정말정말 사고 싶어서 그래요. 저한테 파시면 3대가 복 받으실 거에요. 저한테 팔아주세요.</p>
              </div>
              <div class="comment_function">
                <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
              </div>
            </div>
            <div class="comment_form">
              <textarea class="textarea"></textarea>
              <a href="#" class="button disabled" style="margin-left:33px;">입력</a>
              <input type="checkbox" id="secret"> <label class="secret" for="secret">비밀댓글</label>
            </div>
          </li>
          <li>
            <div class="comment_item">
              <span class="comment_thumb" style="background-image:url(assets/img/author2.png);"></span>
              <div class="comment_content">
                <strong>안성준</strong>
                <p>그렇다면 팔게요! 복 안들어오기만 해봐라.</p>
              </div>
              <div class="comment_function">
                <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
              </div>
            </div>
            <div class="comment_form">
              <textarea class="textarea"></textarea>
              <a href="#" class="button disabled">입력</a>
            </div>
          </li>
        </ul>
        <div class="comment_form">
          <textarea class="textarea"></textarea>
          <a href="#" class="button disabled">입력</a>
        </div>
      </li>
      <li>
        <div class="comment_item">
          <span class="comment_thumb" style="background-image:url(assets/img/author.png);"></span>
          <div class="comment_content">
            <strong>8층에 사는 유경진</strong><br>
            <p>저 사고 싶어요. 기다리던 제품이에요!!</p>
          </div>
          <div class="comment_function">
            <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
          </div>
        </div>
        <ul class="comment_list">
          <li>
            <div class="comment_item">
              <span class="comment_thumb" style="background-image:url(assets/img/author2.png);"></span>
              <div class="comment_content">
                <strong>안성준</strong>
                <p>콜~!!</p>
              </div>
              <div class="comment_function">
                <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <div class="comment_item">
          <span class="comment_thumb" style="background-image:url(assets/img/author.png);"></span>
          <div class="comment_content">
            <strong>소지훈</strong><br>
            <p>한발 늦;;;</p>
          </div>
          <div class="comment_function">
            <a href="#">수정</a> &middot; <a href="#">삭제</a> &middot; <a href="#">댓글쓰기</a> &middot; <span class="created">방금 전</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
