@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.3;
  font-family: Lato, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

.no-scroll body {
  overflow: hidden;
}

.no-scroll .wrap {
  position: fixed;
  left: 0;
  right: 0;
}

app-root,
app-detail {
  display: block;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  fill: #ef5259;
}

.auth-verification,
.auth-sign-in,
.goods-edit,
.preference-user {
  background-color: #f3f3f3;
}

menu, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a,
button {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sr-only {
  display: none;
}

.br {
  display: inline-block;
}

section.main {
  max-width: 480px;
  margin: 0 auto;
}

.sub {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrap {
  height: 100%;
  padding-top: 48px;
  box-sizing: border-box;
}

.wrap .margin1 {
  margin-top: 8px;
}

.wrap .margin2 {
  margin-top: 16px;
}

.wrap .margin3 {
  margin-top: 24px;
}

.wrap .margin4 {
  margin-top: 32px;
}

.wrap .margin5 {
  margin-top: 40px;
}

.top {
  position: fixed;
  right: 11px;
  bottom: 11px;
  width: 50px;
  height: 50px;
  background-image: url(../img/top.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px 50px;
  transition-duration: 0.5s;
  transform: translateY(150px);
}

.top.on {
  transform: translateY(0);
}

.profile {
  overflow: hidden;
  padding: 26px 0 17px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  text-align: center;
}

.thumb {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.setting {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/round-settings-24px.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}

.toggle-button {
  position: relative;
  text-align: center;
}

.toggle-button:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1px;
  margin: auto;
  background-color: #eee;
  content: '';
}

.toggle-button button {
  position: relative;
  padding: 16px 10px;
  border: 0;
  background-color: #fff;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.list_nothing {
  padding: 16px;
}

.list_nothing p {
  padding: 160px 0 24px;
  border-radius: 5px;
  background-color: #f3f3f3;
  background-image: url(../img/bg_create_group.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px auto;
  line-height: 24px;
  text-align: center;
}

.author_thumb {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.highlight {
  color: #ef484e;
}

.spinner_wrap {
  z-index: 40;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.spinner_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.svg-lineType svg:nth-child(1) {
  position: relative;
}

.svg-lineType svg:nth-child(2) {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
}

.svg-lineType svg:nth-child(1) path {
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: 6;
  fill: rgba(0, 0, 0, 0.3);
}

.svg-lineType svg:nth-child(2) path {
  fill: #eee;
}

.svg-lineType.on svg:nth-child(1) path {
  stroke: #ef5259;
  fill: #ef5259;
}

.svg-lineType.on svg:nth-child(2) path {
  fill: #fff;
}

.user-alarm .new {
  animation: ring 3s 0.7s linear infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(-20deg); }
  3% { -webkit-transform: rotateZ(18deg); }
  5% { -webkit-transform: rotateZ(-16deg); }
  7% { -webkit-transform: rotateZ(14deg); }
  9% { -webkit-transform: rotateZ(-12deg); }
  11% { -webkit-transform: rotateZ(10deg); }
  13% { -webkit-transform: rotateZ(-8deg); }
  15% { -webkit-transform: rotateZ(6deg); }
  17% { -webkit-transform: rotateZ(-4deg); }
  19% { -webkit-transform: rotateZ(2deg); }
  21% { -webkit-transform: rotateZ(-1deg); }
  23% { -webkit-transform: rotateZ(1deg); }

  25% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(-20deg); }
  3% { transform: rotate(18deg); }
  5% { transform: rotate(-16deg); }
  7% { transform: rotate(14deg); }
  9% { transform: rotate(-12deg); }
  11% { transform: rotate(10deg); }
  13% { transform: rotate(-8deg); }
  15% { transform: rotate(6deg); }
  17% { transform: rotate(-4deg); }
  19% { transform: rotate(2deg); }
  21% { transform: rotate(-1deg); }
  23% { transform: rotate(1deg); }

  25% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

@media screen and (min-width: 768px) {
  .responsive-row {
    display: table;
    width: 100%;
    height: 100%;
    max-width: 752px;
    margin: 0 auto;
    table-layout: fixed;
  }

  .responsive-col {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
  }

  .content {
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
