.sorting {
  position: absolute;
  right: 16px;
  top: 16px;
  margin-bottom: -8px;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}

.sorting button {
  height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #666;
}

.sorting button svg {
  width: 24px;
  height: 24px;
  vertical-align: top;
}

.sorting button path {
  fill: #666;
}

.sorting button.on {
  color: #161616;
}

.sorting .on path {
  fill: #161616;
}

.sort-layer-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.sort-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 160px;
  margin: 24px auto 0;
  padding: 0 8px;
  background-color: rgba(255, 255, 255, 0.95);
  transform: translateY(-50%);
  box-shadow: 0 0 0 2px #fff;
}

.sort-layer .sort-group {
  padding: 8px 0;
}

.sort-layer .sort-group +  .sort-group {
  border-top: 1px solid #bbb;
}

.sort-layer a {
  display: block;
  position: relative;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 24px;
  color: #161616;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;
}

.sort-layer svg {
  position: absolute;
  left: 4px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
}

.sort-layer path {
  fill: #161616;
}
