<div class="wrap sub form">
  <header>
    <h2>로그인</h2>
  </header>
  <section class="email">
    <h3>로그인</h3>
    <p class="explain">로그인 후 서비스를 이용하실 수 있습니다.</p>

    <div class="margin3">
      <button type="button" (click)="onClickSignIn('facebook')">페이스북</button>
      <button type="button" (click)="onClickSignIn('twitter')">트위터(예정)</button>
      <button type="button" (click)="onClickSignIn('github')">깃허브(예정)</button>
      <button type="button" (click)="onClickSignIn('naver')">네이버(예정)</button>
    </div>
  </section>
</div>
