@import "../../../../assets/css/header";
@import "../../../../assets/css/preference";

header {
  background-color: #fff;
}

header h1 {
  font-weight: normal;
  color: #161616;
}

.preference-user {
  position: fixed;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding-top: 49px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  &.show {
    transform: translateY(0);
  }
  &.hide {
    transform: translateY(120%);
  }
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 30;
  width: 24px;
  height: 24px;
  padding: 4px;
  font-size: 13px;
  color: #161616;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
